$header-1-font-size: 1.6rem !default;
$header-2-font-size: 1.2rem !default;
$header-6-font-size: 1rem !default;
$body-1-font-size: .8rem !default;
$body-2-font-size: .6rem !default;

$header-1-line-height: 2.6rem !default;
$header-2-line-height: 1.9rem !default;
$header-6-line-height: 1.6rem !default;
$body-1-line-height: 1.2rem !default;
$body-2-line-height: 1rem !default;

$heading-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI Light,Microsoft YaHei UI,Microsoft YaHei,微软雅黑,Arial,sans-serif !default;
$body-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,微软雅黑,Arial,sans-serif !default;
$header-font-weight: 600 !default;
$header-color: #0d1c28 !default;
$body-1-color: #3c4852 !default;
$body-2-color: #727475 !default;
$sheet-color: #eeeeee !default;
$background-color: #f1f2f3 !default;